__pycache__/
runs/
__init__.py
raw_images/
raw_videos/
!*/raw_videos/convertToImages.py
!*/named_images/renameImages.py
*.zip
weights/
output/
named_images/
images/
labels/
test_images/
login.deets